<section>
    <header class="other-header">
    </header>

   <div class="bg-[#f5f5f5] py-20 px-20">
        <div class="text-center">
            <h2 class="text-4xl font-bold mb-10">
                ABOUT US
            </h2>
            <p class="text-lg mb-8">
                Professional member of the American Society of Interior Designers with more than
                35 years experience in Industrial and Interior Design
            </p>
        </div>
        <div class="flex gap-4">
            <div class="w-3/5">
                <p class="text-justify leading-8 md:text-left">
                    Grant Design Group was established in February 1981. The firm provides high-quality, furnished interiors for residential and commercial projects. Commercial work, including retail, hospitality and office interior design are provided in collaboration with licensed architectural and engineering partners. Using AutoCAD and Autodesk 3D StudioMax, the firm also offers in-house professional design documents, renderings and virtual walk-through animations for its clients.
                    Anthony W. Grant, A.S.I.D, a professional member of the American Society of Interior Designers, maintains primary control over each project. He is NCIDQ certified and has served as a member of the Nevada Legislative Coalition on Interior Design; he has twice served as the Chairman of the Las Vegas Area of the American Society of Interior Designers.
                    Tony and his wife Nanette, a Principal of GDG, work together to create impressive, soothing environments that provide a respite for today’s busy families. Their professional and skillful attention to architectural detail, color, and scale, as well as their use of fine antiques, artwork, and other furnishings, helps them to develop their clients’ living spaces into a harmonious blend of both elegance and refined simplicity.
                    Mr. Grant and his wife, Nanette, are the  parents of five daughters and one son.
                </p>
            </div>
            <div class="w-2/5 h-full">
                <img src="../../../../assets/images/image-2.jpg" alt="" class="w-full">
            </div>
        </div>
   </div>
</section>
<section class="">
    <div class="py-20 px-20">
        <div>
            <h2 class="text-center font-bold text-3xl">HOW WE WORK</h2>
            <p class="text-center">
                Grant Design Group sees interior design as strategy in action, focusing on results.
                We help our clients envision a better space, and we help them get there successfully.
            </p>
        </div>
        <div class="grid grid-row md:grid-cols-4 p-10 gap-6">
            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-lightbulb-o text-5xl" aria-hidden="true"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">01 CONSULTATION</h2>
                    <p>We listen to and understand our clients; this communication helps to facilitate an interior design that often exceeds client expectations.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-desktop text-5xl"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">02 DESIGN DEVELOPMENT</h2>
                    <p>Each interior design project is refined through a process of fluid development with continuous, valuable input from our clients.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-gavel text-5xl"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">03 PRESENTATION</h2>
                    <p>Our interior design concepts, ideas and materials are revealed to our clients in a way that is clearly understood. Lorem ipsum dolor sit amet consectetur.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-trophy text-5xl"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">04 ORDER & DELIVERY</h2>
                    <p>Furnishings, Fixtures & Equipment ordered and delivered on time is essential to us. Grant Design Group handles every detail.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
