<header class="other-header"
    style="background-image: url(../../../../assets/images/las-vegas-residential-house-3.jpg);">
</header>
<section>

    <div class="bg-white py-20 px-20">
        <div class="text-center">
            <h2 class="text-4xl font-bold mb-10">
                OUR SERVICES
            </h2>
            <p class="text-lg mb-8">
                Unique among interior design firms, Grant Design Group utilizes presentation tools that allow our
                clients
                to clearly understand and visualize design concepts early on in the project, saving time and investment.
            </p>
        </div>
        <div class="flex flex-col gap-4 md:flex-row">
            <div class="flex flex-col items-center gap-3">
                <h2 class="text-lg font-bold">
                    RESIDENTIAL
                </h2>
                <i class="fa fa-home text-7xl text-center"></i>
                <p>
                    RESIDENTIAL
                    Residential work is at the heart of our interior design practice. Our work speaks for itself in the
                    pages of our site. Our single family residence experience ranges from 3,500 to over 17,000 square
                    feet.
                </p>
            </div>

            <div class="flex flex-col items-center gap-3">
                <h2 class="text-lg font-bold">
                    COMMERCIAL
                </h2>
                <i class="fa fa-building text-7xl text-center"></i>
                <p>
                    Corporate offices, medical offices, sporting venue boxes & private aircraft hangers are among our list of clients in this professional interior design service.
                </p>
            </div>

            <div class="flex flex-col items-center gap-3">
                <h2 class="text-lg font-bold">
                    RETAIL
                </h2>
                <i class="fa fa-shopping-bag text-7xl text-center"></i>
                <p>
                    RESIDENTIAL
                    Residential work is at the heart of our interior design practice. Our work speaks for itself in the
                    pages of our site. Our single family residence experience ranges from 3,500 to over 17,000 square
                    feet.
                </p>
            </div>

        </div>

        <div class="p-5">
            <h2 class="text-center text-2xl font-bold">
                PRESENTATION TOOLS
            </h2>
            <div class="grid grid-row gap-4 md:grid-cols-3 md:p-5 md:gap-5">
                <div class="flex flex-col gap-3 items-center">
                    <p class="font-semibold">CONCEPT SKETCHES</p>
                    <div class="overflow-hidden rounded-full">
                        <img src="../../../../assets/images/concept-sketches.jpg" alt="" class="rounded-full  zoom">
                    </div>
                </div>

                <div class="flex flex-col gap-3 items-center">
                    <p class="font-semibold">HAND RENDERINGS</p>
                   <div class="overflow-hidden rounded-full">
                    <img src="../../../../assets/images/Hand-Rendering.jpg" alt="" class=" zoom">
                   </div>
                </div>

                <div class="flex flex-col gap-3 items-center">
                    <p class="font-semibold">AUTOCAD</p>
                    <div class="overflow-hidden rounded-full">
                        <img src="../../../../assets/images/AutoCAD.jpg" alt="" class="zoom">
                    </div>
                </div>

                <div class="flex flex-col gap-3 items-center">
                    <p class="font-semibold">3D RENDERINGS</p>
                    <div class="overflow-hidden rounded-full">
                        <img src="../../../../assets/images/3d-rendering.jpg" alt="" class="rounded-full zoom">
                    </div>
                </div>

                <div class="flex flex-col gap-3 items-center">
                    <p class="font-semibold">VIRTUAL WALK-THROUGHS</p>
                    <div class="overflow-hidden rounded-full">
                        <img src="../../../../assets/images/Virtual-walk-through.jpg" alt="" class="rounded-full zoom">
                    </div>
                </div>

                <div class="flex flex-col gap-3 items-center">
                    <p class="font-semibold">MATERIAL BOARDS</p>
                   <div class="overflow-hidden rounded-full">
                    <img src="../../../../assets/images/material-boards.jpg" alt="" class="rounded-full zoom">
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-[#f5f5f5] p-20">
    <div class="text-center">
        <h2 class="text-2xl font-bold mb-10 md:text-3xl">
           HOW WE WORK
        </h2>
        <p class="text-lg mb-8">
            Unique among interior design firms, Grant Design Group utilizes presentation tools that allow our
            clients
            to clearly understand and visualize design concepts early on in the project, saving time and investment.
        </p>
        <div class="grid grid-row md:grid-cols-4 p-10 gap-6">
            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-lightbulb-o text-5xl" aria-hidden="true"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">01 CONSULTATION</h2>
                    <p>We listen to and understand our clients; this communication helps to facilitate an interior design that often exceeds client expectations.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-desktop text-5xl"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">02 DESIGN DEVELOPMENT</h2>
                    <p>Each interior design project is refined through a process of fluid development with continuous, valuable input from our clients.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-gavel text-5xl"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">03 PRESENTATION</h2>
                    <p>Our interior design concepts, ideas and materials are revealed to our clients in a way that is clearly understood. Lorem ipsum dolor sit amet consectetur.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-6 justify-center items-center">
                <div class="rounded-full bg-[#e5e5e5]  w-[150px] h-[150px]  flex justify-center items-center hover:bg-black hover:text-white">
                    <i class="fa fa-trophy text-5xl"></i>
                </div>
                <div>
                    <h2 class="font-semibold mb-4">04 ORDER & DELIVERY</h2>
                    <p>Furnishings, Fixtures & Equipment ordered and delivered on time is essential to us. Grant Design Group handles every detail.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>