<section class="p-6 md:p-8">
    <div class="grid-container text-center">
        <h2 class="text-4xl font-bold text-center mb-5">
            OUR <span class="medium">PORTFOLIO</span>
        </h2>
        <div class="gallery py-10 grid grid-rows gap-4 md:grid-cols-4 md:gap-8">
            <!-- one -->
            <div class="image-container cursor-pointer relative">
                <img src="assets/images/leo-papa-1.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Leo Papa</p>
                        <p class="text-lg font-bold">Residential</p>
                        <a href="products.html#leo-papa" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- two -->
            <div class="image-container cursor-pointer relative">
                <img src="assets/images/queens-ridge-1.jpeg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Queen's Ridge</p>
                        <p class="text-lg font-bold">Residential</p>
                        <a href="products.html#queens-ridge" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- three -->
            <div class="image-container cursor-pointer relative">
                <img src="assets/images/ridge-1.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Ridges</p>
                        <p class="text-lg font-bold">Residential</p>
                        <a href="products.html#ridges" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- four -->
            <div class="image-container cursor-pointer relative">
                <img src="../../../../assets/images/west-1.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">West Vegas</p>
                        <p class="text-lg font-bold">Residential</p>
                        <a href="products.html#west" target="_blank" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- five -->
            <div class="image-container cursor-pointer relative">
                <img src="../../../../assets/images/Photo-Dec-26-11-12-13-AM-570x570.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Roma Hills</p>
                        <p class="text-lg font-bold">Construction</p>
                        <a href="products.html#west" target="_blank" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- six -->
            <div class="image-container cursor-pointer relative">
                <img src="../../../../assets/images/paradise-5.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Paradise</p>
                        <p class="text-lg font-bold">Residential</p>
                        <a href="products.html#west" target="_blank" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- seven -->
            <div class="image-container cursor-pointer relative">
                <img src="../../../../assets/images/eagle-hills-1.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Eagle Hills</p>
                        <p class="text-lg font-bold">Residential</p>
                        <a href="products.html#west" target="_blank" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- eight -->
            <div class="image-container cursor-pointer relative">
                <img src="../../../../assets/images/enterprise-1.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Enterprise</p>
                        <p class="text-lg font-bold">Residential</p>
                        <a href="products.html#west" target="_blank" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- nine -->
            <div class="image-container cursor-pointer relative">
                <img src="../../../../assets/images/green-valley-ranch-1.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Green-Valley Restaurant</p>
                        <p class="text-lg font-bold">Hospitality</p>
                        <a href="products.html#west" target="_blank" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
            <!-- ten -->
            <div class="image-container cursor-pointer relative">
                <img src="../../../../assets/images/pal-zeleri-1.jpg" alt="" class="image">
                <div class="middle">
                    <div class="text flex flex-col gap-4">
                        <p class="text-2xl font-bold">Pal Zileri</p>
                        <p class="text-lg font-bold">Retail</p>
                        <a href="products.html#west" target="_blank" class="bttn">View
                            More
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>